* {
  box-sizing: border-box;
}

body {
  margin: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
#categories {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  

}

.item {
  display: block;
  margin-bottom: 20px;
  background-color: F6F6FE;
  width: 100%;
  border-radius: 8px;
    padding: 16px;
}
.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.name-item {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.item-name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42
}
.gallery {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery li {
  flex-basis: calc((100% - 48px) / 3);}
/* task 3 */
#name-input {
  width: 360px;
    height: 40px;
    font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #2e2f42;
      border: 1px solid #808080;
        border-radius: 4px;
}

#name-outnput {
  font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

/* task 4 */
.login-form {
  background: #fff;
  border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 256px;
    display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 16px;
}
input {
  display: flex;
    flex-direction: column;
    gap: 8px;
    width: 360px;
      height: 40px;
      border-radius: 4px;
}
label {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 8px;
    }
.button-submit {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
      padding: 8px 16px;
      width: 86px;
      height: 40px;
      background: #4e75ff;
      font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}

/* task 5 */
.widget {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
      padding: 100px 88px;
      width: 345px;
      height: 280px;
      background: #fff;
      font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}
.change-color {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
     border-radius: 8px;
    padding: 8px 16px;
      width: 148px;
      height: 40px;
      background: #4e75ff;
      font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border-color: transparent;
}
/* task 6 */

#controls {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 16px;
    border-radius: 8px;
padding: 32px;
width: 486px;
height: 104px;
background: #f6f6fe;
margin-bottom: 16px;
}

.input-number {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #808080;
      border-radius: 8px;
      padding: 8px 72px;
      width: 150px;
      height: 40px;
      font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
}
.create-destroy {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
      padding: 8px 16px;
      width: 120px;
      height: 40px;
      border-color: transparent;
      font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}
.create {
  background: #4e75ff;
}
.destroy {
        background: #ff4e4e;
}
#boxes {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
      padding: 32px;
      width: 486px;
      height: 134px;
      background: #f6f6fe;
  
}
